<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table table-borderless">
                <tr *ngFor ="let i of data">
                    <td>{{i.userId}}</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>{{i.id}}</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>{{i.title}}</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>{{i.completed}}</td>
                    <td><input type="number" name="" id="" class="form-control"> </td>
                </tr>
                
            </table>